@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #F4A261;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.secForm {
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    z-index: 2;

}

input {
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #ccc;

}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

form h1 {
    font-size: 45px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #F4A261;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.3s ease;

    &:hover {
        background-color: #FFC107;
    }
}

.info {
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoP1 {
    font-size: 25px;
    margin-top: 30px;
}

.infoP2 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}

.infoP3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoP3 p {
    padding-top: 10px;
}

.social {
    display: flex;
    gap: 15px;
}


.social a {
    color: #FFC107;
    font-size: 30px;
    padding-right: 5px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        color: #000000;
    }

}



span {
    color: #954a0d;
}

.p_yellow {
    color: #FFD700 !important;
    font-size: 35px;
}

.p_little {
    font-size: 12px;
}


.backWhite {
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 500px 500px 0 0;
    border-color: white transparent;
    z-index: 1;

}